body {
    display: flex;
    justify-content: center;

    width: 100%;
}

main {
    display: grid;
    place-items: center;
    grid-gap: 20px;
    width: 50%;
}

main h1 {
    text-align: center;
}

#options {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
}

#qr-code {
    display: grid;
    place-items: center;
    width: 100%;
}

#qr-code button {
    width: 100%;
    margin: auto;
}

#qr-code img {
    max-width: 500px;
    margin: auto;
}

#qr-input {
    width: 100%;
}

a#button {
  text-align: center;
  text-decoration: none;
  min-width: 130px;
  margin: 20px;
  height: 40px;
  color: #fff;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #212529;
}

a#button:hover {
  background-color: #343a40;
}

a#button:active {
  top: 2px;
}
